.gitattributes  export-ignore
.github         export-ignore
.gitignore      export-ignore
LICENCE         export-ignore
Makefile        export-ignore
README.md       export-ignore
attrib          export-ignore
testing         export-ignore
