README.md         export-ignore
.gitignore        export-ignore
LICENCE           export-ignore
Makefile          export-ignore
temp/**           export-ignore
testing/**        export-ignore
releaseAsset/**   export-ignore
.github           export-ignore